n8n/workflows/01-telegram-gemini-pedidos.json
{
  "id": "a1111111-1111-4111-8111-111111111101",
  "name": "ChefFlow 01 - Telegram + Gemini + Supabase",
  "nodes": [
    {
      "parameters": { "updates": ["message"], "additionalFields": {} },
      "id": "a1000001-0001-4001-8001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "chefflow-telegram",
      "credentials": {
        "telegramApi": {
          "id": "c0000000-0000-4000-8000-000000000001",
          "name": "Telegram ChefFlow Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/products?tenant_id=eq.a0000000-0000-4000-8000-000000000001&is_available=eq.true&select=id,name,price,description",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "a1000001-0001-4001-8001-000000000002",
      "name": "Cargar Menu Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const telegram = $('Telegram Trigger').first().json;\nconst menu = $('Cargar Menu Supabase').all().map(i => i.json);\nconst chatId = String(telegram.message.chat.id);\nconst userName = telegram.message.from?.first_name ?? 'Cliente';\nconst userText = telegram.message.text ?? '';\n\nconst menuText = menu.map(p => `- ${p.name}: $${Number(p.price).toLocaleString('es-CO')} (id:${p.id})`).join('\\n');\n\nconst systemPrompt = `Eres ChefFlow, asistente de pedidos del restaurante. Responde en español.\nMENÚ ACTUAL:\\n${menuText}\\n\\nCliente: ${userName} (telegram:${chatId})\\n\\nFlujo: saluda, muestra menú si piden, toma pedido, pide dirección y método de pago (nequi,daviplata,wompi,cash,card,transfer).\\nCuando el pedido esté COMPLETO, agrega al final un bloque JSON:\\nORDER_JSON:{\"items\":[{\"product_id\":\"uuid\",\"quantity\":1}],\"address\":\"...\",\"payment_method\":\"nequi\",\"notes\":\"\",\"customer_name\":\"${userName}\",\"telegram_chat_id\":\"${chatId}\"}`;\n\nreturn [{ json: { systemPrompt, userText, chatId, userName, menu } }];"
      },
      "id": "a1000001-0001-4001-8001-000000000003",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $env.GEMINI_MODEL || 'gemini-2.0-flash' }}:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": { \"parts\": [{ \"text\": {{ JSON.stringify($json.systemPrompt) }} }] },\n  \"contents\": [{ \"role\": \"user\", \"parts\": [{ \"text\": {{ JSON.stringify($json.userText) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.7, \"maxOutputTokens\": 2048 }\n}"
      },
      "id": "a1000001-0001-4001-8001-000000000004",
      "name": "Google Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst text = raw.candidates?.[0]?.content?.parts?.[0]?.text ?? 'Lo siento, no pude procesar tu mensaje.';\nconst ctx = $('Preparar Contexto').first().json;\n\nlet orderData = null;\nconst match = text.match(/ORDER_JSON:(\\{[\\s\\S]*?\\})/);\nif (match) {\n  try { orderData = JSON.parse(match[1]); } catch (e) {}\n}\n\nconst reply = text.replace(/ORDER_JSON:\\{[\\s\\S]*?\\}/, '').trim();\n\nreturn [{ json: { reply, orderData, chatId: ctx.chatId, userName: ctx.userName, menu: ctx.menu } }];"
      },
      "id": "a1000001-0001-4001-8001-000000000005",
      "name": "Parsear Respuesta Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-order", "leftValue": "={{ $json.orderData }}", "rightValue": "", "operator": { "type": "object", "operation": "exists", "singleValue": true } }],
          "combinator": "and"
        }
      },
      "id": "a1000001-0001-4001-8001-000000000006",
      "name": "Pedido Completo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "const { orderData, menu } = $input.first().json;\nconst TENANT = 'a0000000-0000-4000-8000-000000000001';\nconst BRANCH = 'b0000000-0000-4000-8000-000000000001';\n\nlet subtotal = 0;\nconst items = (orderData.items || []).map(item => {\n  const product = menu.find(p => p.id === item.product_id);\n  const unitPrice = product ? Number(product.price) : 0;\n  const totalPrice = unitPrice * item.quantity;\n  subtotal += totalPrice;\n  return { product_id: item.product_id, quantity: item.quantity, unit_price: unitPrice, total_price: totalPrice };\n});\n\nconst deliveryFee = 5000;\nconst total = subtotal + deliveryFee;\n\nreturn [{\n  json: {\n    customer: {\n      tenant_id: TENANT,\n      name: orderData.customer_name,\n      telegram_chat_id: orderData.telegram_chat_id,\n      phone: orderData.phone || null\n    },\n    order: {\n      tenant_id: TENANT,\n      branch_id: BRANCH,\n      type: 'delivery',\n      status: 'pending',\n      payment_method: orderData.payment_method || 'cash',\n      subtotal,\n      delivery_fee: deliveryFee,\n      tips: 0,\n      total,\n      delivery_address: orderData.address,\n      notes: orderData.notes || ''\n    },\n    items,\n    reply: $input.first().json.reply,\n    chatId: orderData.telegram_chat_id\n  }\n}];"
      },
      "id": "a1000001-0001-4001-8001-000000000007",
      "name": "Calcular Pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?on_conflict=telegram_chat_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.customer) }}"
      },
      "id": "a1000001-0001-4001-8001-000000000008",
      "name": "Upsert Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 180]
    },
    {
      "parameters": {
        "jsCode": "const customer = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst calc = $('Calcular Pedido').first().json;\nreturn [{ json: { ...calc, customer_id: customer.id } }];"
      },
      "id": "a1000001-0001-4001-8001-000000000009",
      "name": "Merge Cliente ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...$json.order, customer_id: $json.customer_id }) }}"
      },
      "id": "a1000001-0001-4001-8001-000000000010",
      "name": "Crear Pedido Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 180]
    },
    {
      "parameters": {
        "jsCode": "const order = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst calc = $('Merge Cliente ID').first().json;\nconst orderItems = calc.items.map(i => ({ order_id: order.id, ...i }));\nreturn [{ json: { order, orderItems, chatId: calc.chatId, reply: calc.reply + `\\n\\n✅ Pedido #${order.id.slice(0,8)} registrado. Total: $${Number(order.total).toLocaleString('es-CO')}` } }];"
      },
      "id": "a1000001-0001-4001-8001-000000000011",
      "name": "Preparar Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/order_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.orderItems) }}"
      },
      "id": "a1000001-0001-4001-8001-000000000012",
      "name": "Crear Items Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ JSON.stringify($('Preparar Items').item.json.chatId) }}, \"text\": {{ JSON.stringify($('Preparar Items').item.json.reply) }}}"
      },
      "id": "a1000001-0001-4001-8001-000000000013",
      "name": "Telegram Confirmar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ JSON.stringify($('Parsear Respuesta Gemini').item.json.chatId) }}, \"text\": {{ JSON.stringify($('Parsear Respuesta Gemini').item.json.reply) }}}"
      },
      "id": "a1000001-0001-4001-8001-000000000014",
      "name": "Telegram Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chat_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-4000-8000-000000000001\",\n  \"channel\": \"telegram\",\n  \"direction\": \"inbound\",\n  \"content\": {{ JSON.stringify($('Telegram Trigger').item.json.message.text) }}\n}"
      },
      "id": "a1000001-0001-4001-8001-000000000015",
      "name": "Log Mensaje BD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 500]
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Cargar Menu Supabase", "type": "main", "index": 0 }]] },
    "Cargar Menu Supabase": { "main": [[{ "node": "Preparar Contexto", "type": "main", "index": 0 }, { "node": "Log Mensaje BD", "type": "main", "index": 0 }]] },
    "Preparar Contexto": { "main": [[{ "node": "Google Gemini", "type": "main", "index": 0 }]] },
    "Google Gemini": { "main": [[{ "node": "Parsear Respuesta Gemini", "type": "main", "index": 0 }]] },
    "Parsear Respuesta Gemini": { "main": [[{ "node": "Pedido Completo?", "type": "main", "index": 0 }]] },
    "Pedido Completo?": {
      "main": [
        [{ "node": "Calcular Pedido", "type": "main", "index": 0 }],
        [{ "node": "Telegram Responder", "type": "main", "index": 0 }]
      ]
    },
    "Calcular Pedido": { "main": [[{ "node": "Upsert Cliente", "type": "main", "index": 0 }]] },
    "Upsert Cliente": { "main": [[{ "node": "Merge Cliente ID", "type": "main", "index": 0 }]] },
    "Merge Cliente ID": { "main": [[{ "node": "Crear Pedido Supabase", "type": "main", "index": 0 }]] },
    "Crear Pedido Supabase": { "main": [[{ "node": "Preparar Items", "type": "main", "index": 0 }]] },
    "Preparar Items": { "main": [[{ "node": "Crear Items Pedido", "type": "main", "index": 0 }]] },
    "Crear Items Pedido": { "main": [[{ "node": "Telegram Confirmar", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "ChefFlow" }, { "name": "Telegram" }]
}
