n8n/workflows/02-webhook-estado-pedido.json
{
  "id": "a1111111-1111-4111-8111-111111111102",
  "name": "ChefFlow 02 - Webhook Cambio Estado Pedido",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chefflow-order-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2000001-0001-4001-8001-000000000001",
      "name": "Webhook Estado Pedido",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "chefflow-order-status"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders?id=eq.{{ $json.body.order_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.body.status, updated_at: new Date().toISOString() }) }}"
      },
      "id": "b2000001-0001-4001-8001-000000000002",
      "name": "Actualizar Pedido BD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "jsCode": "const order = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst webhook = $('Webhook Estado Pedido').first().json.body;\nconst labels = {\n  pending: 'Pendiente', confirmed: 'Confirmado', preparing: 'Preparando',\n  ready: 'Listo', shipping: 'En Camino', delivered: 'Entregado', cancelled: 'Cancelado'\n};\nconst msg = `📦 Pedido actualizado\\nEstado: ${labels[order.status] || order.status}\\nTotal: $${Number(order.total).toLocaleString('es-CO')}`;\nreturn [{ json: { order, message: msg, customer_id: order.customer_id } }];"
      },
      "id": "b2000001-0001-4001-8001-000000000003",
      "name": "Formatear Notificacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?id=eq.{{ $json.customer_id }}&select=telegram_chat_id,name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "id": "b2000001-0001-4001-8001-000000000004",
      "name": "Obtener Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json[0]?.telegram_chat_id }}", "rightValue": "", "operator": { "type": "string", "operation": "exists", "singleValue": true } }]
        }
      },
      "id": "b2000001-0001-4001-8001-000000000005",
      "name": "Tiene Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ JSON.stringify($json[0].telegram_chat_id) }}, \"text\": {{ JSON.stringify($('Formatear Notificacion').item.json.message) }}}"
      },
      "id": "b2000001-0001-4001-8001-000000000006",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chat_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-4000-8000-000000000001\",\n  \"channel\": \"system\",\n  \"direction\": \"outbound\",\n  \"content\": {{ JSON.stringify($('Formatear Notificacion').item.json.message) }}\n}"
      },
      "id": "b2000001-0001-4001-8001-000000000007",
      "name": "Log Estado BD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, order_id: $('Formatear Notificacion').item.json.order.id }) }}"
      },
      "id": "b2000001-0001-4001-8001-000000000008",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 300]
    }
  ],
  "connections": {
    "Webhook Estado Pedido": { "main": [[{ "node": "Actualizar Pedido BD", "type": "main", "index": 0 }]] },
    "Actualizar Pedido BD": { "main": [[{ "node": "Formatear Notificacion", "type": "main", "index": 0 }]] },
    "Formatear Notificacion": { "main": [[{ "node": "Obtener Cliente", "type": "main", "index": 0 }]] },
    "Obtener Cliente": { "main": [[{ "node": "Tiene Telegram?", "type": "main", "index": 0 }]] },
    "Tiene Telegram?": {
      "main": [
        [{ "node": "Notificar Telegram", "type": "main", "index": 0 }],
        [{ "node": "Log Estado BD", "type": "main", "index": 0 }]
      ]
    },
    "Notificar Telegram": { "main": [[{ "node": "Log Estado BD", "type": "main", "index": 0 }]] },
    "Log Estado BD": { "main": [[{ "node": "Responder Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ChefFlow" }, { "name": "Pedidos" }]
}
