n8n/workflows/04-reporte-ventas-diario.json
{
  "id": "a1111111-1111-4111-8111-111111111104",
  "name": "ChefFlow 04 - Reporte Ventas Diario Gemini",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 22 * * *" }] }
      },
      "id": "d4000001-0001-4001-8001-000000000001",
      "name": "Diario 10PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().slice(0, 10);\nreturn [{ json: { today, start: today + 'T00:00:00', end: today + 'T23:59:59' } }];"
      },
      "id": "d4000001-0001-4001-8001-000000000002",
      "name": "Fecha Hoy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/orders?tenant_id=eq.a0000000-0000-4000-8000-000000000001&status=eq.delivered&created_at=gte.{{ $json.start }}&created_at=lte.{{ $json.end }}&select=id,total,type,payment_method,created_at,customers(name)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "id": "d4000001-0001-4001-8001-000000000003",
      "name": "Ventas del Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "jsCode": "const orders = $input.all().map(i => i.json);\nconst total = orders.reduce((s, o) => s + Number(o.total), 0);\nconst count = orders.length;\nconst avg = count ? total / count : 0;\nconst summary = { fecha: $('Fecha Hoy').item.json.today, pedidos: count, ingresos: total, ticket_promedio: avg, ordenes: orders };\nreturn [{ json: summary }];"
      },
      "id": "d4000001-0001-4001-8001-000000000004",
      "name": "Calcular Metricas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ $env.GEMINI_MODEL || 'gemini-2.0-flash' }}:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": { \"parts\": [{ \"text\": \"Genera un reporte ejecutivo breve de ventas de restaurante en español. Incluye insights y recomendaciones.\" }] },\n  \"contents\": [{ \"role\": \"user\", \"parts\": [{ \"text\": {{ JSON.stringify('Datos del día: ' + JSON.stringify($json)) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.5, \"maxOutputTokens\": 1024 }\n}"
      },
      "id": "d4000001-0001-4001-8001-000000000005",
      "name": "Gemini Reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text ?? 'Sin reporte';\nconst metrics = $('Calcular Metricas').first().json;\nreturn [{ json: { report, metrics } }];"
      },
      "id": "d4000001-0001-4001-8001-000000000006",
      "name": "Extraer Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"a0000000-0000-4000-8000-000000000001\",\n  \"action\": \"daily_sales_report\",\n  \"entity_type\": \"orders\",\n  \"new_data\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "d4000001-0001-4001-8001-000000000007",
      "name": "Guardar Reporte BD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Diario 10PM": { "main": [[{ "node": "Fecha Hoy", "type": "main", "index": 0 }]] },
    "Fecha Hoy": { "main": [[{ "node": "Ventas del Dia", "type": "main", "index": 0 }]] },
    "Ventas del Dia": { "main": [[{ "node": "Calcular Metricas", "type": "main", "index": 0 }]] },
    "Calcular Metricas": { "main": [[{ "node": "Gemini Reporte", "type": "main", "index": 0 }]] },
    "Gemini Reporte": { "main": [[{ "node": "Extraer Reporte", "type": "main", "index": 0 }]] },
    "Extraer Reporte": { "main": [[{ "node": "Guardar Reporte BD", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ChefFlow" }, { "name": "Reportes" }]
}
